body{

    display: flex;
    align-items: center;
    justify-content: center;

}
.mapa-svg-estados {

    fill: #373737;
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -ms-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    stroke: transparent;
    stroke-dasharray: 180%;
    stroke-dashoffset: -120%;
    stroke-width: 2px;

}

.mapa-svg-estados:hover {

    /*opacity: 0.6;*/
    cursor: pointer;
    stroke:#0098ff;
    fill: #525252;
    stroke-dashoffset: 0%;

}

.mapa-svg-estados-active {

    cursor: pointer;
    stroke: #0098ff;
    fill: #525252;
    stroke-dashoffset: 0%;

}

.pointer-svg-map {
    fill: #0098ff;
    /*opacity: 0;*/
    /*animation: pointer 2s infinite linear;*/
    animation-direction: normal;
    /*transform:translateY(-550px);*/
    animation-delay: .2s;
}

.inactive-map-svg {

    opacity: .5;
    stroke: none !important;

}

.inactive-map-svg:hover {

    stroke-dashoffset: -120%;
    cursor: inherit;
    fill: #525252;

}

@keyframes pointer {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }

}


.class-select{

    height: 40px;
    width: 250px;
    padding: 10px 18px;
    border-radius: 32px;
    color: #3c3c3c;

}
